.footer-main-container {
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
     
}

.footer-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.footer-section {
    flex: 1 1 10%; 
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: black;
}

.footer-section h4 {
    margin-top: 0;
    font-weight: bold;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .footer-section {
        flex: 1 1 30%;
    }
    .footer-sections {
        
        gap: 20px;
         
    }
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.footer-image {
    display: flex;
    align-items: center;
}

.footer-image img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.footer-right {
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 768px) {
    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }
}
