.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3vw 2%;
    background-color: #f4f4f4;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
}

.message {
    margin-right: 2vw;
    font-size: 2vw; 
    font-weight: bold;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin-right: 2vw;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-size: 1.2vw;
}

.navigation a:hover {
    color: #007bff;
}

 
.header-profile {
    display: flex;
    align-items: center;
}
.profile-photo1{
    width: 4vw;   
    height: 4vw;
    object-fit: cover;
}
.profile-photo {
    width: 4vw;   
    height: 4vw;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007bff;
}

 
.header-right img {
    width: 4vw;   
    height: 4vw;
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 5%;
    }

    .header-left {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .header-right {
        display: none;
    }

    .navigation {
        display: none;
        width: 100%;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 5vw;
        position: absolute;
        right: 2%;
        
    }

    .hamburger-icon {
        font-size: 5vw;
    }
    .navigation.open {
        display: block;
        width: 100%;
    }
    .navigation ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navigation li {
        margin-bottom: "1%";
    }

    .navigation a {
        font-size: 2vw;
        color: #333;
        text-decoration: none;
        padding: 1vw;
        display: block;
        width: 100%;
    }

    .navigation a:hover {
        color: #007bff;
    }
}

@media (min-width: 769px) {
    .menu-icon {
        display: none; 
    }

    .navigation {
        display: flex;  
    }

    .navigation ul {
        flex-direction: row;
    }

    .header-right {
        display: block;  
    }
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5%;
}

.content-box {
    display: flex;
    align-items: center;
    border: 1.5px solid #34bdeb;
    padding: 0.3%;
    width: 100%;
    max-width: 23%;
    border-radius: 30px;

}

.inner-box {
    border: 1px solid #34bdeb;
    padding: 0.5vw;
    margin-right: 1vw;
    border-radius: 30px;
}

.contentpara {
    font-size: 0.8vw;
    margin: 0;
    text-align: center;
}

.analytics-container{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.analytics-container h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 2px;
}
.analytics-container p{
    width: 65%;
    text-align: center;
    font-size: 14px;
}
.signup-container{
    display: flex;
    align-items: center;
    margin-top: 25px;

}

.signup-button{
    background-color: #3461eb;
    border-width: 0px;
    border-radius: 5px;
    padding: 12px 25px 12px 25px;
    color: white;
}
.demo-button{
    border-radius: 5px;
    padding: 12px 25px 12px 25px;
    border: 1px solid;
    border-width: 0.1px;
    margin-right: 10px;
}
.stats-container{
    display: flex;
}

.stats-container2{
    display: none;
}
.stats-img{
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .content-box {
        width: 100%;
        max-width: 55%;   
    }

    .contentpara {
        font-size: 2vw;  
    }

    .inner-box {
        padding: 0.5vw;
    }
    .analytics-container h1{
        font-size: 35px;
    }
    .signup-container{
        flex-direction: column;
        width: 100%;  
    }
    .demo-button{
        order: 2;
        width: 100%;
        margin-top: 10px;
        margin-right: 0px;  
    }
    .signup-button{
        order: 1;
        width: 100%;
         
    }
    .stats-container{
        display: none;
    }
    
    .stats-container2{
        display: flex;
    }
}



